.navbar {
    background-color: black;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;

}
.navbar a:hover {
    color: rgb(235, 227, 227);
}