.contact-container {
    /* background-color: red; */
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container .main {
    padding: 40px;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    height: 450px;
    width: 500px;
    box-shadow: 0px 0px 3px black;
    border-radius: 4px;
}

.main h1 {

    text-align: center;
    
}

.contact-con {
    margin-top: 30px;
}

.inputf input {
    width: 100%;
    height: 30px;
}

#s {
    margin-top: 15px;
}

.tc {
    margin-top: 20px;
}

div .ta {
    width: 100%;
    height: 100px;
    resize: none;
    padding: 10px;
}

.btn {
    color: white;
    font-size: 16px;
    background-color: rgb(74, 74, 201);
    margin-top: 30px;
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 20px;
}