.container {
    height: 100vh;
    /* background: linear-gradient(to right, #ffff00, #f8ea47, #f0d465, #e7bf7c, #ddaa8f, #d095a1, #c280b2, #b26cc2, #9d56d2, #8440e1, #6028f0, #0000ff);   */
    display: flex;
    justify-content: center;
    align-items: center; 
}

.container .login {
    min-height: 74%;
    width: 27%;
    /* background-color: skyblue; */
    box-shadow: 0px 0px 6px black ;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .login .green {
    /* background-color: green; */
    padding: 20px;
    height: 65vh;
    width: 90%;
}

.green #heading {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.green div p {
    text-align: center;
    margin-top: 5px;
    /* font-weight: bold; */
    font-size: 14px;
}

#input-con {
    margin-top: 30px;
}

.f input {
    width: 100%;
    height: 30px;
    /* border: none; */
    border-radius: 4px;
}

#s {
    margin-top: 10px;
}

.forget-pass {
    margin-top: 5px;
    text-align: end;
    color: crimson;
    font-size: 14px;
}

.get-started {
    margin-top: 25px;
    background-color: #111;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    text-align: center;
    padding: 10px 20px;
}

.sign-in {
    /* background-color: red; */
    margin-top: 20px;
    text-align: center;
}

.flex-con {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

